{% extends 'ejemplo_dos/base.html' %}

{% block contenido %}
<h1>Acerca del Blog</h1>
    <h3>¿Cómo escribir un buen acerca de?
        Vamos allá con los 10 consejos para escribir tu página «Acerca De»:

        #1 Cuenta Una Historia. ...
        #2 Conéctate Con Tus Clientes Potenciales. ...
        #3 Demuéstrales Por Qué Eres Bueno. ...
        #4 Humanízate. ...
        #5 Sé Honesto. ...
        #6 Cuenta Sobre El Equipo Que Te Acompaña. ...
        #7 Incluye Elementos Multimedia. ...
        #8 Transmite Una Llamada A La Acción.
    </h3>
{% endblock %} 